In [ ]:
import pandas as pd
import matplotlib.pyplot as plt
import numpy as np
import seaborn as sb

COLUMNS = ['Status','Duration','Credit History','Purpose','Credit Amount','Saving Account', 'Present Employment Since',
           'Rate','Status and Sex','Debtors/Guarantors','Residence Since','Property','Age','Plans','Housing','Number',
           'Job','Number of people','Telephone','Foreing Worker','Apt']
data = pd.read_csv("german.data", delimiter = ' ', names = COLUMNS)
data.head()

## *Número de instancias y atributos:*

In [22]:
shape = data.shape
print(f"Número de instancias: {shape[0]}")
print(f"Número de atributos: {shape[1]}")

Número de instancias: 1000
Número de atributos: 21

### *El conjunto de datos está etiquetado con la variable de clase Apt

In [23]:
columns_Cat = data.select_dtypes(exclude='int64').columns
columns_Cat

Index(['Status', 'Credit History', 'Purpose', 'Saving Account',
       'Present Employment Since', 'Status and Sex', 'Debtors/Guarantors',
       'Property', 'Plans', 'Housing', 'Job', 'Telephone', 'Foreing Worker'],
      dtype='object')

In [24]:
import json
def leer_JSON():
    with open('data base.json', 'r') as archivo:
        return json.load(archivo)

In [30]:
myDict = leer_JSON()

In [37]:
for nameCol in columns_Cat:
    for key in data[nameCol].unique():
        data[nameCol] = data[nameCol].replace(key, myDict[nameCol][key])
data.head()

,Status,Duration,Credit History,Purpose,Credit Amount,Saving Account,Present Employment Since,Rate,Status and Sex,Debtors/Guarantors,...,Property,Age,Plans,Housing,Number,Job,Number of people,Telephone,Foreing Worker,Apt
0,A,6,Critico,radio/tv,1169,sin cuenta,Mayor que 6,4,mujer sol,ninguno,...,bienes raices,67,ninguno,propio,2,empleado,1,si,si,1
1,B,48,Algunos reembolsados,radio/tv,5951,Menor de 100,entre 1 y 4,2,mujer DSC,ninguno,...,bienes raices,22,ninguno,propio,1,empleado,1,no,si,2
2,D,12,Critico,education,2096,Menor de 100,entre 4 y 7,2,mujer sol,ninguno,...,bienes raices,49,ninguno,propio,1,no calificado,2,no,si,1
3,A,42,Algunos reembolsados,furniture/equipment,7882,Menor de 100,entre 4 y 7,2,mujer sol,fiador,...,seguro de vida,45,ninguno,gratis,1,empleado,2,no,si,1
4,A,24,Retrasado,Carro nuevo,4870,Menor de 100,entre 1 y 4,3,mujer sol,ninguno,...,Sin propiedad,53,ninguno,gratis,2,empleado,2,no,si,2